player-connection-mode=Listen
player-connection-guid=715827358
player-connection-debug=0
player-connection-project-name=predikt
player-connection-ip=10.0.0.10
player-connection-ip=169.254.162.93
player-connection-ip=169.254.80.68
player-connection-ip=169.254.169.185
player-connection-ip=169.254.37.209
player-connection-ip=169.254.51.130
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fc7d38cfdaa54f8aa66e241665603dd6
